/**
* For small screens ( < 639px )
**/
@media screen and (max-width: 639px) {
}

/**
* For medium screens ( 640px -> 767px )
**/
@media screen and (min-width: 640px) and (max-width: 767px) {
}

/**
* For large screens ( 768px -> 1023px )
**/
@media screen and (min-width: 768px) and (max-width: 1023px) {
}

/**
* For extra large screens ( >= 1024px )
**/
@media screen and (min-width: 1024px) {
}

/* css reset */

.PlanYourVisit {
  background-color: #ff754e;
  text-align: center;
  display: inline-block;
  padding: 0;
  margin: 0;
}

.LearnAboutPark {
  background-color: #5ed3eb;
  text-align: center;
  display: inline-block;
  padding: 0;
  margin: 0;
}

.GetInvolved {
  background-color: #ffcd69;
  text-align: center;
  display: inline-block;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: "Chelsea-Market", cursive;
  padding-left: 200px;
}

body {
  font-family: "Roboto Mono", monospace;
}

.section-one,
.section-two {
  background-color: #ddb9a3;
}

footer {
  background-color: #f9e7dc;
}
.footImg {
  height: 300px;
  width: 100%;
}

header img {
  border-radius: 50%;
  width: 200px;
  height: 150px;
}

.navBar ul li {
  border-radius: 15%;
  height: 50px;
  width: fit-content;
}
